/*Paleta colors Barça
Dorat: #edbb00
Blau: #004d98
Grana: #a50044
Vermell: #a50044
Groc: #ffed02
Negre: #000000
*/
@font-face {
    font-family: 'FC Barcelona';
    src: local('FC Barcelona PLAY SOLID'), local('FC-Barcelona-PLAY-SOLID'),
        url('FCBARCELONAPLAYSOLID.woff2') format('woff2'),
        url('FCBARCELONAPLAYSOLID.woff') format('woff'),
        url('FCBARCELONAPLAYSOLID.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


html, body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(90deg,#004d98,#a50044);
    font-family: "FC Barcelona";
    color: #ffed02;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
}

main {
    padding: 1rem 4rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    color: #edbb00;
    text-align: center;
    padding: 2rem;
    font-size: 50px;
}

h2 {
    padding-top: 1rem;
}

article {
    text-align: center;
}

article p {
    color: white;
    font-size: 20px;
}


.penya_logo_inici_container {
    text-align: center;
    
}

.logo {
    width: 300px;
    height: 300px;
}

.content {
    flex: 1;
}

.map-container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Limita el ancho en escritorio */
  margin: 0 auto; /* Centra el mapa */
  padding-bottom: 30%; /* Proporción 16:9 */
  height: 0;
  overflow: hidden;
}

.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}




footer {
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
  position: relative;
  padding: 40px;
  text-align: center;
  color: white;
  overflow: hidden;
}

.footer-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250px; /* Tamaño de la imagen */
  transform: translate(-50%, -50%);
  opacity: 0.4; /* Para que no tape el texto */
  z-index: 0;
}

.footer-content {
  position: relative;
  z-index: 1;
}

/* Adds a semi-transparent overlay to the footer background for better text readability */
.footer-bg::before {
    background-color: rgba(0,0,0,0.3);
    content: "";
}
/*
Depuracion
.content {
  border: 2px dashed red;
}
main {
  border: 2px dashed blue;
}

*/
