@font-face {
    font-family: 'FC Barcelona';
    src: local('FC Barcelona PLAY SOLID'), local('FC-Barcelona-PLAY-SOLID'),
        url('FCBARCELONAPLAYSOLID.woff2') format('woff2'),
        url('FCBARCELONAPLAYSOLID.woff') format('woff'),
        url('FCBARCELONAPLAYSOLID.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }